html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  background-color: #f0f0f0;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

.parallax-grid {
  width: 75vw;
}

.trails-text {
  width: 100%;
  height: 6vw;
  line-height: 4.5vw;
  color: slategray;
  font-size: 5vw;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.trails-sub {
  width: 100%;
  height: 5vw;
  line-height: 4.5vw;
  color: slategray;
  font-size: 2vw;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

@media (max-width: 700px) {
  .trails-text {
    line-height: 6vw;
  }
  .trails-sub {
    font-size: 2.75vw;
  }
}

@media (max-width: 345px) {
  .trails-text {
    height: 7vw;
    font-size: 6vw;
  }
}
