html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  background-color: #f0f0f0;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

.parallax-grid {
  width: 75vw;
}

.mah-face {
  position: relative;
  width: 100%;
  height: auto;
}

.trails-text {
  width: 100%;
  height: 6vw;
  line-height: 4.5vw;
  color: slategray;
  font-size: 5vw;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
}

.trails-sub {
  width: 100%;
  height: 5vw;
  line-height: 4.5vw;
  color: slategray;
  font-size: 2vw;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
}

.trails-body {
  width: 100%;
  line-height: 3vw;
  color: slategray;
  font-size: 1.5vw;
  font-weight: 600;
  will-change: transform;
}

.trails-menu {
  width: 100%;
  line-height: 2vh;
  color: slategray;
  font-size: 2vh;
  font-weight: 400;
  will-change: transform;
  background-color: transparent;
  border: none;
}

.trails-menu.active {
  background-color: #c9c9c9;
  border-radius: 5px;
}

.trails-menu-text {
  width: 100%;
  line-height: 3vh;
  color: slategray;
  font-size: 2.5vh;
  font-weight: 400;
  will-change: transform;
  background-color: transparent;
  border: none;
}

.trails-nav {
  line-height: 3vh;
  color: darkslategray;
  font-size: 2.5vh;
  font-weight: 400;
}

.trails-header {
  line-height: 4vh;
  color: darkslategray;
  font-size: 4vh;
  font-weight: 600;
}

.trails-header-2 {
  line-height: 3vh;
  color: darkslategray;
  font-size: 3vh;
  font-weight: 600;
  padding-left: 1.25rem;
}

@media (max-width: 800px) {
  .trails-body {
    line-height: 4vh;
    font-size: 2vh;
  }
}
@media (max-width: 768px) {
  .mah-face {
    width: 75%;
  }
}
@media (max-width: 700px) {
  .trails-text {
    line-height: 6vw;
  }
  .trails-sub {
    font-size: 2.75vw;
  }
}

@media (max-width: 345px) {
  .trails-text {
    height: 7vw;
    font-size: 6vw;
  }
}
